[submodule "pixel-NN"]
	path = pixel-NN
	url = https://gitlab.cern.ch/lgagnon/pixel-NN.git
[submodule "pixel-NN-training"]
	path = pixel-NN-training
	url = https://gitlab.cern.ch/lgagnon/pixel-NN-training.git
